extends ../layout

block content 
    h1 Edit Review

    p(class="review__name")=review.favorite.media_name

    form(action=`/review/${review.favorite_id}`, method="post") 

        label(for="rating") Rating
        input#rating(type="number", name="rating")

        label(for='review') Review
        textarea#review(name='review', v-model='review', required)

        button Submit