block content 

    h1 Reviews
    
    section(class="new-review-section")
        a(href="/review/create" class="new-review") New Review

    section(class="review-list")
        if favorites
            each favorite in favorites
                a(href=`/review/${favorite_id}`)
                    include reviewCard
        else 
            p There is no review available