extends ../layout

block content
    
    form.register-form(action="/register", method="post") 
        label(for="nickname") Nickname 
        input(type="text" name="nickname" id="nickname")
        label(for="email") Email
        input(type="email" name="email" id="email")
        label(for="password") Password
        input(type="password" name="password" id="password")
        
        button Register